@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container:100px 0;
    --color-title: #001A49;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #688565;
}

.container{
    width:90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    
    padding: var(--padding-container);
} 
.hero{
    width: 100;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;

}

.hero::before{
    content: "";
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 0% ), url(../images/triceratops2.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
    
}

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav__title{
    font-weight: 300;
}

/* Todo el panel*/

.panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 221, 221, 0.1);
    backdrop-filter: blur(1px);
    padding: 20px;
    border-radius: 10px;
    color: rgb(202, 165, 117);
    gap: 0.5rem;
}

#btnIdioma{
    position: absolute;
    bottom: 3px; /* Lo ubica en la parte inferior */
    left: 3px; /* Lo posiciona a la izquierda */
    padding: 8px 12px;
    background-color: #377231; /* Color llamativo */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
#btnAudio {
    position: absolute;
    bottom: 3px; /* Lo ubica en la parte inferior */
    right: 3px; /* Lo posiciona a la izquierda */
    padding: 8px 12px;
    background-color: #377231;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btnAudio:hover {
    background-color: #377231;
}

#btnExitAR {
    position: absolute;
    top: 3px; /* Lo coloca en la parte superior */
    left: 3px; /* Lo mueve a la izquierda */
    padding: 8px 12px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btnExitAR:hover {
    background-color: darkred;
}

.panel__info {
    display:flex;
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgb(85, 56, 47, 0.8);
    color: rgb(204, 196, 196); /* para que se vea bien el texto */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    overflow:hidden;
}


.panel__animation {
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgb(85, 56, 47, 0.8);
    color: black; /* para que se vea bien el texto */
    
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}  

model-viewer{
    width: 200px;
    height: 400px;

   
}

@media screen and (max-width: 768px) {
    .panel {
        flex-direction: row; /* Para Mantener la distribución horizontal */
        justify-content: space-around;
        width: 100vw;
        height: auto;
    }

    .panel__info, .panel__animation {
        width: 45%; /* Para ajustar el tamaño en móviles */
    }
}       

